[2016-09-21 17:04] ftiff opened #2 "Work at loginwindow"

[2016-09-21 17:04] ftiff commented on #2
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;rIrt4RMV&#x2F;1-test"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> test</a>

[2016-09-21 17:11] ftiff opened #3 "Add an easy way to show logs"

[2016-09-21 17:11] ftiff commented on #3
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;oGZAmNe6&#x2F;3-add-an-easy-way-to-show-logs"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add an easy way to show logs</a>

[2016-11-14 14:48] grahampugh opened #6 "Option to remove/hide Continue button"
It would be good if the Continue button could be hidden, either automatically if all canContinue keys are set to false, or manually with a key.  In our case we reboot the machine when the kickstart script is finished, so a continue button is superfluous.

[2016-11-24 12:32] ftiff opened #7 "Show packages currently being downloaded"
Some packages take an awful amount of time to download
We cannot get this from jamf.log but perhaps from the policy name or the cache folder?

[2016-11-24 18:06] kylecrawshaw commented on #7
@ftiff does the the name of the cache folder typically match the policy or package name?

[2016-11-29 15:29] riddl0rd opened #8 "Sidebars"
Looks like i get sidebars on the left side off the screen besides the icons, with this said i don't see the whole icons in the application window.

But i noticed that if only define 6 apps there is no problem

[2016-12-03 08:51] ftiff commented on #8
thanks for your report! I'm working on it, it is harder than I thought :)

[2016-12-03 08:53] ftiff commented on #6
Thanks Graham!

Will do!

[2016-12-04 10:20] franton commented on #2
As I understand things, the DEP process with Casper doesn't truly start until an initial user login. While this will be nice to have for the future, I'm not sure if 1) i'm wrong on this and 2) how useful it'll be. However my workflows have always involved being over the loginwindow, so I support this request :)

[2016-12-04 10:44] ftiff commented on #2
Hi Richard!

The DEP process start after the user has been asked his AD login/password. If the user wait too long, CasperSplash would start at this stage (as _mbsetupuser). I'm not 100% confident as I haven't tested this properly. It would be interesting to ask Apple the specifics.

Launching at loginwindow is for another use case. I created this ER too soon. It is for the next idea, when we resta

[2016-12-20 14:40] riddl0rd opened #9 "Caspersplash on 10.11 clients"
20/12/16 13:28:40,250 CasperSplash[94536]: Failed to connect (colorGridView) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable
20/12/16 13:28:40,250 CasperSplash[94536]: Failed to connect (view) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable

Looks like in this new version caspersplash can't be run on 10.11 clie

[2016-12-20 15:59] ftiff commented on #9
Should be fixed in https://github.com/ftiff/CasperSplash/tree/fix-9

@riddl0rd Please test!
[CasperSplash fix-9.zip](https://github.com/ftiff/CasperSplash/files/664144/CasperSplash.fix-9.zip)

[2016-12-21 08:50] ftiff opened #11 "Documentation: Starter Pack"
Prepare a documentation for new starters

[2016-12-21 08:52] ftiff opened #12 "Localization: French"
Start localising the project (in french for now)

[2017-03-05 05:53] ftiff commented on #12
done in 9a5c424

[2017-03-05 05:53] #12 closed

[2017-03-05 05:54] ftiff commented on #9
solved

[2017-03-05 05:54] #9 closed

[2017-03-05 05:58] ftiff commented on #6
Hi Graham,

I've started working on it.

What would be the action at the end? Have a 5 second timer to give the user the possibility to read the message at the bottom of the window? "All software were installed" / "A software failed to install. Support has been notified"

[2017-03-05 09:29] grahampugh commented on #6
H François,

I would say just go onto the post install script automatically (or quit if none exists).

Cheers, Graham

Von meinem iPhone gesendet

[2017-03-30 18:40] SteveKueng opened #21 "backgroundwindow just show up on main display"
If two or more displays are attached the backgroundwindow show up just on main display.

[2017-03-31 18:46] cybertunnel opened #23 "Javascript enabled in Webkit"
Javascript is enabled, Java is enabled, and popups are allowed inside of the webkit interface.

[2017-05-30 13:42] joostvanderzwaan opened #33 "Only PKG... No DMG files"
It seems that SplashBuddy only works with my PKG files in Jamf log file and not with my DMG files. I use the same name confention Name_package-version.dmg But this doens't seem to works. Any idea if SplashBuddy only works with PKG?

[2017-05-31 09:55] ftiff commented on #33
That's a very valid request. I'm surprised no one asked before :)
Could you include the relevant part of jamf.log here ?

[2017-06-03 20:03] joostvanderzwaan commented on #33
Hi,

Here you are. See log file:
Check out: Installing PRF_Cisco_AnyConnect_Profile-1.0.dmg...
And: Installing APP_BoxEdit-3.1.10.dmg...
And: Installing APP_Konica_Minolta_C554C364_PrinterDriver-1.0.dmg...

Would be really great if it is possible. Because you can get more detail of the process ☺

Thanks
Joost

at Jun 03 11:46:10 VM-01-Test’s Mac jamf[549]: Creating user admin...
Sat Jun 03 11:46:4

[2017-06-10 05:48] ftiff commented on #33
Thank you Joost! It seem that with dmg we only get "installing", but nothing on the success or failure or the process.
Looks like I will need a better parser for the jamf log.

Do you have any log of a dmg that failed to install, if such thing exists?

[2017-06-24 01:03] matthewsphillips opened #34 "Keyboard Inputs accepted."
I noticed that user can still "command + tab" to switch apps in the background. Then send keyboard commands to that App while Splash Buddy is in front and fullscreen. This does not seem like expected behaviour. I understand the need to be able to quit the app with a keyboard shortcut. But, once a fully functional process is tested, Quit could be removed in a production environment. Or if ignore al

[2017-06-24 01:19] #34 closed

[2017-06-24 01:20] ftiff commented on #34
Hi Matthews,

I've made the required changes in d257010
It will be part of RC5, due soon. If you can, please test!

Thanks,
François

[2017-07-05 05:13] smithjw commented on #6
For my usage I'd like to hide the Continue button as I quit SB and manage logging the user out from my enrolment script that runs from Jamf directly.

In the meantime, I've added an item to the sidebar marked as required but doesn't actually have a package attached so the Continue button is always greyed out

[2017-07-10 18:14] rudyca opened #36 "Allow customization of "Welcome to your Mac" and subtitle."
I would like to be able to customize the Welcome title and subtitle to fit within our environment.
<img width="523" alt="customize welcome title" src="https://user-images.githubusercontent.com/3607322/28032887-2073fec2-657a-11e7-85af-285d26330951.png">

[2017-07-24 20:19] rudyca commented on #36
Awesome!! Looking forward to the release and give it a try.

Thank you.

[2017-08-01 19:17] ftiff opened #39 "SplashBuddy crashes at launch on 10.11.6"
Since WKWebView introduction in RC5, SplashBuddy crashes at launch on 10.11.6
reported by Emily, howardgmac and Rudy.

[code]

[2017-08-01 19:17] ftiff commented on #39
Created radar 33659364
[sysdiagnose_2017.08.01_21-03-18+0200.tar.gz](https://github.com/ftiff/SplashBuddy/files/1191660/sysdiagnose_2017.08.01_21-03-18.0200.tar.gz)
[Crash_Log_from_10_11_6.txt](https://github.com/ftiff/SplashBuddy/files/1191661/Crash_Log_from_10_11_6.txt)

[2017-08-11 19:56] ftiff commented on #39
I'm not sure we had an impact. but since latest release of Xcode, WKWebView is clearly indicated as not compatible with <10.12:
```SplashBuddy/SplashBuddy/Base.lproj/SplashBuddy.storyboard:9lx-PG-aVf: error: WKWebView before macOS 10.12 (NSCoding support was broken in previous versions)```

→ Won't fix. Dropped support of 10.11 in fa7f9f6a50ffbeaaea6a71826ffae7b1d8b26418 (use RC4 if needed)

[2017-08-11 19:56] #39 closed

[2017-08-18 02:07] ftiff commented on #36
Not needed anymore with 1.1 :)
More on that soon

[2017-08-18 02:07] #36 closed

[2017-08-18 02:09] ftiff commented on #21
Solved with e7d72966507423f7b8fb015f2236f7844233059c
For 1.0

Thank you for your report!

[2017-08-18 02:09] #21 closed

[2017-08-18 02:10] ftiff commented on #6
This will be in 1.1.
Thank you for your report!

[2017-08-18 02:10] #6 closed

[2017-09-05 18:48] cybertunnel commented on #23
This is be design.

[2017-09-05 18:48] #23 closed

[2017-09-05 18:52] cybertunnel opened #41 "Form HTML gets displayed if app gets relaunched"
The `form.html` file gets displayed if form input was already submitted.

Would be nice if the computer is able to reboot and not display the `form.html` file if the information was asked for once already.

[2017-09-06 03:17] ftiff commented on #41
Perhaps do a .SplashBuddyFormDone ? :)

[2017-09-07 20:25] scottsecrest commented on #33
We can enable debug logging to capture additional client side logs via jamf.log. It’s best to turn off debug logging after use. Below are the commands to turn debug mode on/off and an example of the additional data stored in the jamf.log.

Step 1:Run at SplashBuddy load
sudo defaults write /Library/Preferences/com.jamfsoftware.jamf.plist global_log_level DEBUG

Step 2: Additional logs created in j

[2017-09-07 20:41] ftiff commented on #33
Thank you so much @scottsecrest ! That'll also help to add the "Downloading" state

[2017-09-25 21:32] matthewsphillips opened #42 "Failure message does not update."
The Jelly color changes to Red when jamf.log reports "Installation failed. The installer reported: installer: Package name is..."
Then "(AppName) failed to install. Support has been notified." is displayed in Red at the bottom of the window.

If the pkg is reinstalled successfully while splash buddy is running, the Jelly turns Green once the install succeeds. However, the Error Message in red at t

[2017-09-25 22:01] matthewsphillips commented on #41
What version works with writing a .SplashBuddyFormDone file?  I've only had success by renaming the form.html once the info is present so that it won't get used on next launch.

[2017-09-26 06:04] ftiff commented on #41
Tyler, can you have a look at this while you're working on forms? Thank you :)

[2017-09-26 12:22] cybertunnel commented on #41
Sure thing, just got my Xcode updated so able to work on it now.

[2017-09-26 13:18] ftiff commented on #42
Hi Matt, it is solved in master but not yet in 1.1

[2017-09-26 16:07] cybertunnel commented on #41
Fixed on the current userinput branch.

[2017-09-26 16:07] #41 closed

[2017-09-27 04:32] ftiff commented on #8
This will be solved in 1.1 :)

[2017-09-27 04:32] #8 closed

[2017-10-06 14:19] built2order opened #43 "Updating the preference file io.fti.SplashBuddy.plist doesn't show new entry"
I've updated the preference file io.fti.SplashBuddy.plist, copied the file into /Library/Preferences folder however only the three default elements show up when the app is launch. Even changing the description of an established item is not reflected in the app. Removing the preferences file leaves an empty installation window. I've attached a screenshot and plist file for your review.

OS: 10.12.3

[2017-10-11 14:16] ftiff commented on #43
Thank @built2order this is not a bug but a « feature » 👍

Seriously, the preferences are cached, so you need to `sudo killall -HUP cfprefsd` for SplashBuddy to pick the changes from the plist. Does it help?

[2017-10-12 12:51] ftiff opened #44 "Disable CMD+ALT+Q"
Disable CMD+ALT+Q for deployments

[2017-10-12 17:43] n0brainer opened #45 "Feature Request: Add quit and don't reopen"
For troubleshooting, it would be great to have a quit and do **not** reopen SB so I'm not scrambling to find the error in-between relaunches.

[2017-10-12 17:45] ftiff commented on #45
Thanks for your feature request!

You can already use CMD+ALT+CTRL+Q d91e62c22021c2616cc6db4f6ca37b923037c57e

I leave this request open to include it in the documentation!

[2017-10-13 20:23] #42 closed

[2017-10-20 18:06] jszaszvari opened #46 "1.1 RC1 Defaults to Italian"
Giving the new RC for 1.1 a go, and no matter what I set the localisation settings as, the app launches in Italian.

Checked OS Settings and Xcode project is set with "Localization native development region: en"

[2017-10-21 02:06] ftiff commented on #46
Hi John,

Thank you for your report!
That's interesting. I cannot replicate here.

Please tell me more about your environment:
Can you attach a screenshot?
What is your macOS version?
Can you attach the result of `defaults read /Library/Preferences/.GlobalPreferences.plist` ? I need at least AppleLanguages, AppleLocale and Country.

Are all of the strings in Italian or only a couple?

Thank you!

[2017-10-22 03:06] jszaszvari commented on #46
@ftiff sorry for the delay in replying back to you.

I'll post a detailed report later today on how I am able to replicate the issue with more details. Just gathering some info at the moment.

[2017-10-22 03:17] ftiff commented on #46
Thank you John!

We'd like to release it for jnuc so the soonest you send the info the better. Also, are you using the release or do you compile it from master yourself ?
Thanks

[2017-10-22 03:39] jszaszvari commented on #46
Will have it all for you in a few hours.

Did not know you were doing something at JNUC - Cant wait to see it! (I used to work for JAMF)

:)

I just quickly checked, It actually looks like the release version works OK, I've not been able to replicate the issue with it, But if i compile it my self I see a few minor issues - But I beleive I'm using the branch that the release was compiled from.

Thi

[2017-10-22 03:54] ftiff commented on #46
Awesome! Are you coming to jnuc??

I found it. Issue is on my end but not for release. I left a test localisation flag on for Italian.

I'm on iPhone so cannot post a screenshot but it is in the build scheme in a drop down menu.

Thank you very much. I'll fix this when I get the chance. Let me know if you find anything else!

[2017-10-22 06:18] jszaszvari commented on #46
I wont be at JNUC this year unfortunately, I intend on going next year though. If you are there not this year, but next - I'll come and buy you a beer for this absolutely amazing and awesome project.

Thanks so much, that was exactly what was causing the issue. I had looked everywhere except that 1 location!

I've submitted a PR with the small change that fixes this. I've made it so that it uses t

[2017-10-27 23:04] danielsjacobson commented on #43
Super good to know. Fixes my issues!

[2017-11-06 21:53] #46 closed

[2017-11-09 19:03] DrTeej opened #50 "[Feature Request] Specify what log file is used for information."
#### Base Request:
I think it would awesome if the ability to change what log file is read for the `<applicationsArray>` and the display in the Application itself.

My thought is that we could add this to the `io.fti.SplashBuddy.plist` configuration. As an individual specified key - like:
#### Example:
[code]

#### Reasoning for FR:
My Leadership wants a tool that isn't "Dependent" on JAMF Pro. My

[2017-11-15 21:54] killahquam opened #53 "AutoLogout option"
It would be great to have an Autologout option as one of the keys for ContinueAction
So once splashbuddy is done, it will automatically logout and ready for the user to login.
Specially for env where filevault is set for next login, this can ensure it is enforced right away

[2017-11-17 23:48] scottlep opened #54 "Trigger question"
This is a usage question.

We are a Managed Service Provider that often implements Jamf into new clients with existing computers. We would be enrolling all existing computers in to Jamf and also implementing DEP and Zero Touch deployment. I set up SplashBuddy for some testing. I don't want to use the trigger "Enrollment Complete" because I only want the policies installed on computers that have be

[2017-11-18 01:14] killahquam commented on #54
Build a dummy package and deploy it to you existing fleet then scope splash
buddy policies to all things where that package is missing.
Keep the trigger on enrollment and frequency on ongoing. In my setup the
apps are scoped for computers missing those apps so the chances of that
happening are slim. If you just concerned about splashbuddy just do
touch /Users/Shared/.SplashBuddyDone and splashbudd

[2017-11-18 04:47] hgriffith-ewu commented on #54
You could also set up a Smart Computer Group with a criteria set to Last Enrollment date after all of their existing computers are enrolled.  Any new computers or old computers that have been wiped and rejoined will then get the Smart Buddy profile moving forward.

[2017-11-18 12:17] scottlep commented on #54
The problem is that we often have computers that were already in use enrolling the same time as brand new/wiped computers. So we would have no way to deploy the dummy package to the existing before the enrollment. Last Enrollment date Smart Group doesn't work either. Only thing I can think of is to look for something that exists consistently across the existing and scope to that.

[2017-11-18 20:20] killahquam commented on #54
If you have the serials of all the existing macs, or the new ones you
could build a smart group with that too.

2017-11-18 12:17:43 +0000 scottlep <notifications@github.com> :

[2017-11-18 22:11] scottlep commented on #54
Thanks. We don't have the serials of the existing computers since the client is new to us and they don't have great inventory records.  I might be able to do that in reverse and make a group with the serials that I know are new purchases or wiped.

As a work around for now I added the text "New Computer" as the "Purchasing Contact" in the Pre Stage Enrollment>Purchasing config. I then have a smart

[2017-11-30 08:32] ftiff opened #55 "Big notification when process is finished"
For Labs, adding an optional big notification would allow better visual control of the status of the process.

[2017-11-30 15:31] ftiff opened #56 "Allow auto refresh of webview"
Some MacAdmins parse the index.html to write dynamic information such as an IP Address
Feature Request would be to automatically refresh the webview every x seconds

[2017-12-06 16:06] atscomposer opened #57 "Language localization for io.fti.Splashbuddy.plist"
Would love to be able to localize the io.fti.Splashbuddy.plist to reflect the localization in presentation.bundle.

[2017-12-06 16:17] HowardGMac commented on #55
You could for example have an optional preference in the SplashBuddy.plist called `labEnvironment` that when set to true would hide the sidebar and direct the webview to a complete.html page in the presentation.bundle once all of the application installations were completed.

[2017-12-08 19:24] cybertunnel commented on #56
Could be a preference key

[2017-12-10 23:42] pnbahry opened #59 "Keep the machine from sleeping."
I am hoping there is an option to keep the machine from going to sleep while splash buddy is active.

[2017-12-11 19:07] killahquam commented on #59
hmmm... I would think adding a line in the code like
caffeinate -d -i -m -u &
then upon completion kill it ?

[2017-12-11 20:50] ftiff commented on #59
We could probably use this https://developer.apple.com/library/content/releasenotes/Darwin/RN-IOKitPowerManagment/

But I would be surprised it would work in a sandboxed app!

[2017-12-13 14:16] scriptingosx commented on #59
this is (I believe) the current way: https://developer.apple.com/library/content/qa/qa1340/_index.html

[2017-12-13 21:43] pnbahry commented on #59
I ended up using:

caffeinate -d -i -m -u &

then killing the process, this has worked well for me.

Thanks for all the comments :)

[2017-12-14 08:20] scriptingosx commented on #59
You could also let `caffeinate` execute the process:

[code]

will maintain the assertions until the `executable` ends. Should save a few lines of code.

[2017-12-14 18:07] devlinford commented on #33
@ftiff, just to clarify this is not yet possible, right?

Thanks,

[2018-01-19 21:08] n0brainer opened #60 "Feature Request: Self Destruct upon exiting cleanly"
Been trying to work out an EA that calls a script to remove SB once the SplashBuddyDone file exists.  However it seems that others that have tried it report it doesn't work well.  It would be great if it will remove itself when it's done (reboot, continue, etc).

[2018-02-01 16:47] ftiff commented on #2
This is what's needed, thanks @kylecrawshaw
I closed the PR as codebase changed too much

https://github.com/Shufflepuck/SplashBuddy/pull/5/commits/fe59daaf2ea2f396b0509b7a7124dd16538be224

[2018-02-01 16:50] ehemmete commented on #2
This would help my workflow quite a bit.  We want to make sure user names match their AD name, so we create them automatically.  After the Setup Assistant our workflow goes to the login window.  Currently they have to sign in as a common user first so our policies can run..

[2018-02-20 06:48] xinput opened #64 "Feature Request: Ghost Pkg/script that set's 'Installed'/'green jelly' when software is already installed"
Hello,

I have the following scenario:
We have dozens of macs that are in production. No one is actually enrolled in JAMF.
When i enroll them in JAMF SB will start and install required software. Each of my enroll policies is bound to a smart group which checks is software is already installed. If it's already installed software is skipped.

The problem:
To tell SB that this skipped software is not

[2018-02-28 12:19] Ethenyl opened #65 "Fix `${PRODUCT_NAME}` in app package"
Currently, showing the information of `SplashBuddy.app` displays the value `${PRODUCT_NAME}` instead of `SplashBuddy`.

[2018-02-28 12:44] Ethenyl commented on #65
Fixed by #66.

[2018-02-28 12:44] #65 closed

[2018-03-01 22:24] cybertunnel opened #67 "Detect when network is disconnected and display"
End users might have a spotty connection, and possibly leaves network connectivity. Having a prompt that displays when it is unable to connect to a well known public ip address like `8.8.8.8` it will display a message to the user like

_the message could be customized through a plist key_

[2018-03-10 10:58] ssnak3 commented on #64
Hi,

Don't know if I can help, but since in my environment most of the packages are DMG and we are using ghostpkg script for all application, I added a different part in the script that handles the detections, which makes the script more accurate.

This is the code I added to z02sb_ghostpkg script:
[code]
So I enter in variable 4 path of the installed application if the application is not present

[2018-03-10 15:19] MatGriffin opened #68 "Feature Request: Ability to show different icon when the item is installing"
When installing an item it would be nice to have an option to show a different icon like an animated gif icon.

For example I have an MS Office icon, when Office begins to install the icon changes to an MS Office icon animated gif that I create that has a little spinner on it. Once complete it switches back to the previous icon or even a third state completed icon which could be a greyed out versi

[2018-03-11 13:04] Ethenyl commented on #67
Hi @cybertunnel,

That should be a pretty nice feature to add. The remote address to ping should be also configurable.

If I understand well, the prompt of alert dialog would simply notify the user of the disconnected state.

This might become troublesome if the user is constantly changing between `Connected` & `Disconnected` and if we're spamming him (or her) with dialogs.

I would suggest a slig

[2018-03-12 10:52] ssnak3 opened #70 "If some of the application failed during enrollment, SB quit button greyed out"
Hi Team,

As I have been describing on slack, there seems to be an issue when one of the applications from enrollment failed, it says that "application failed, support is notified" but the user cannot quit SB.

A little background on our environment:
We have offices all over the world and a lot of Distribution points and we are using User initiated enrollment that is performed by "admins" that do

[2018-03-12 12:29] ssnak3 commented on #70
Addition:
Just tested if all applications successfully install, then quit button is not greyed out and everything is working as expected.
In that scenario` canContinue` for all applications is set to `NO`

[2018-03-12 12:49] cybertunnel commented on #67
I can work on this in the near future, as this feature has been requested by members within my company.

[2018-03-12 12:52] Ethenyl commented on #67
@cybertunnel nice! Would you mind if I assign you the ticket?

[2018-03-12 12:53] cybertunnel commented on #67
@Ethenyl I wouldn't mind at all.

[2018-03-15 14:56] n0brainer opened #71 "type-o in change notes for 1.2.0"
/var/tmp/SplashBuddy/ with more tag files : CriticalDone (All critical softwares are installed), ErrorWhileInstalling (Errors while installing), AllInstalled (All software is installed (failed or success)), AllSuccessfullyInstalled (All software is sucessfully installed).

The folder is /private/tmp/SplashBuddy

Thank you to @xinput in slack to helping find it :)

[2018-03-15 15:23] #71 closed

[2018-03-15 15:24] Ethenyl commented on #71
Fixed by #72.

[2018-03-16 07:35] ssnak3 commented on #70
Found a workaround:
Set all policies before as `canContinue` to `YES`, but put last one to `NO`.
I set the last policy that basically is just runing recon but could be anything with ghostpkg script.

[2018-03-16 12:56] jby opened #73 "Faulty assumption that all users have $home in /Users in SplashBuddy.launch.sh"
The file /Library/Application\ Support/SplashBuddy/SplashBuddy.launch.sh assumes that whatever user is the $loggedInUser has its $home in /Users/$user:

[code]
Hidden users have their $home in /var/$user which makes the .SplashBuddyDone-file impossible to find for such a user - making SplashBuddy respawn indefinitely regardless of its existens.

[2018-03-19 14:38] ssnak3 opened #75 "Feature Request: Custom message (progress bar)"
Hi Team,

It would be great if we could customize messages that are shown above progress bar.

For example after the installation is finished and something went wrong, message that displays "Support is notified." can be confusing since the application is not notifying anyone and it would be great if we could edit it in some easier way than to re-compile the application.

Thanks.

[2018-03-20 09:17] jby commented on #73
Workaround:

[code]

[2018-03-20 09:24] jby opened #76 "Installer-1.2.1.zip contains Installer-1.2.0"
Typo?

[code]

[2018-03-20 13:03] jby opened #77 "1.2.1 doesn't even show, let alone install any policies"
I just "upgraded" from 1.2.0-rc1 to 1.2.1, which says it's 1.2.0 btw (see #76), and I've tried it on both a physical Macbook Air and in a VMWare VM and SB is not even shown in either (and neither is it installing any policies).

jamf.log from the VM attached as per request by @ftiff on MacAdmins Slack
[jamf-vmware-lab.log](https://github.com/Shufflepuck/SplashBuddy/files/1829373/jamf-vmware-lab.lo

[2018-03-20 13:25] Ethenyl commented on #76
Hello @jby,

As you mentioned, it is in fact a typo in the folder name. I've re-uploaded a brand new version of the installer without it.

[2018-03-20 13:25] #76 closed

[2018-03-28 13:36] dinero1010 opened #78 "Disable Full Screen"
What is the most efficient way to disable the full screen mode and simply display the Splashbuddy screen?  Appreciate any help.

[2018-04-11 16:29] Coros commented on #77
I'm seeing this issue as well.  My first SB policy initiates but then all processing stops.  I'm currently running 1.2.2-rc1.  I was unsure if this was a SplashBuddy or Jamf issue but since this issue exists, I'll add my info here.

[code]

I can kill the jamf process then run a 'sudo jamf policy -event enrollmentComplete' and it'll resume and execute all policies without issue.

[2018-04-11 16:41] cybertunnel commented on #77
Did you make sure the MDM profile was approved? Without being approved, it can't run commands on that machine.

[2018-04-11 17:47] Coros commented on #77
@cybertunnel Thanks.  I'm in contact with Jamf and I let them know you believe it is a jamf problem.  (I thought so since splash buddy doesn't execute until the 2nd policy which doesn't execute according to the log)

[2018-04-20 10:43] ssnak3 opened #80 "macOS needs to repair library while running SB - 10.13.4"
Hi Team,

While trying to use SplashBuddy on macOS High Sierra 10.13.4 we are getting prompt to repair the library and SB won't start.
![screen shot 2018-04-19 at 15 28 09](https://user-images.githubusercontent.com/30590576/39044066-5ba7dbf4-448f-11e8-8141-f1842ebb4c0d.png)

If we repair the library it just shows icon on dock and then exists saying SB crashed.
![screen shot 2018-04-19 at 15 29 26]

[2018-04-20 11:43] ssnak3 commented on #80
In system.log there is this line:

[2018-04-20 13:45] ssnak3 commented on #80
Hi,

Didn't try with 1.1, tried with 1.2.0 and 1.2.1.

This are permissions on folder:
drwxr-xr-x  18 root  wheel  576 Apr 20 14:42 SplashBuddy

[2018-04-20 14:05] Ethenyl commented on #80
@ssnak3 can you give a try with the 1.1 version? Thanks.

[2018-04-20 14:27] ssnak3 commented on #80
@Ethenyl  Will do, don't have time now, will update next week.

Thanks.

[2018-04-23 08:05] Ethenyl commented on #80
@ssnak3 thanks a lot for the update.

It seems that the big migration that I made wasn't that successful, I'll need to perform a new release.

Would you be available for some additional testing?

[2018-04-23 10:23] entusdictus opened #81 "German localisation fixed"
I've reworked the German SB localisation and updated strings and button labels. Button labels and wordings now match the German macOS locale.

[German-localizable.strings.txt](https://github.com/Shufflepuck/SplashBuddy/files/1937674/German-localizable.strings.txt)

[2018-04-23 10:28] ssnak3 commented on #80
@Ethenyl
Hi,

As I said in Slack, I had errors on both 1.1 and latest SB.
It is sporadic and I can't locate the issue, VM and physical machine are both built from the same installer.

[2018-04-24 22:28] HowardGMac commented on #80
@ssnak3 Can you please share a copy of your installer with us ?  I have run the same tests as Ethenyl and cannot reproduce the behavior you are reporting.  I'd like to take a look at your copy and see if it causes the problem on my test machine.

[2018-04-24 22:31] HowardGMac commented on #78
What you are looking for is the hideBackground function so that the rest of your screen is not blocked out.  You can find information on that here:
https://github.com/Shufflepuck/SplashBuddy/wiki/60---Options#hide-background-11

[2018-04-25 07:09] Ethenyl commented on #81
Hi @entusdictus,

Glad to hear that you're working on the German translation. Do you want me to create a PR to integrate your change or are you going to do it?

[2018-04-25 12:11] Ethenyl commented on #81
Localisation update will be implemented by #84.

[2018-04-26 14:40] ssnak3 commented on #80
@HowardGMac  Sent via #Slack.
Let me know if you need me to troubleshoot further.

[2018-04-27 03:04] smithjw commented on #78
Would there be enough inters to have this option enabled/disabled by a preference key?

[2018-04-29 16:08] Ethenyl commented on #77
Hi all,

Judging from the feedback, it seems that this issue is coming from **Jamf** and not **SplashBuddy**.

Closing the issue as it's not directly related.

[2018-04-29 16:08] #77 closed

[2018-05-01 12:46] dinero1010 commented on #78
Thanks all - i found the hide background function and its working well.  I would vote +1 for this option to be configurable via preference key... i know in our case, we leverage SplashBuddy as a 'Step 2' of our enrollment process and as such, the full screen is not required.

[2018-05-01 13:21] dinero1010 opened #85 "Spanish Localization"
Hello - Would it be possible to the add Spanish (ES) localization to the base package?  Much appreciated!

[2018-05-01 13:34] dannyhanes opened #86 "Request - Autoscroll Installation List"
Small request if possible.

As installations are running on the machine and the colored circles light up, it would be great for that side bar to autoscroll to the next item if you have a longer list. You know... for the user who thinks it should be done when everything is green, but doesn't realize there are more items that need to be completed.

Thanks!

[2018-05-07 07:30] Ethenyl commented on #85
Hi @dinero1010,

It's totally possible to add Spanish localization, but we don't have any official translator to work on it.

So the first implementation might be based on Google translated strings.

[2018-05-07 08:07] Ethenyl commented on #81
Will be available in the next version of **SplashBuddy**.

[2018-05-07 08:07] #81 closed

[2018-05-10 19:39] djtonyc77 opened #87 "CLose out Splash Buddy, keeps reappearing"
I just tested the app and opened it,  I'm able to  use command, alt Q to quit, but keeps reopening.  I've rebooted in to safe mode, closed all apps, but when i reboot eventually splashbuddy keeps appearing.  I've deleted it from apps, the unzipped folder.  Any other instances where it may be hiding out.

[2018-05-10 19:48] MatGriffin commented on #87
Library/Application Support/SplashBuddy/

[2018-05-12 18:04] #87 closed

[2018-05-12 18:04] Ethenyl commented on #87
Marking issue as closed since it was resolved.

[2018-05-12 18:09] Ethenyl commented on #85
Hi @dinero1010,

The Spanish translation will be implemented by the PR #88.

Feel free to check the new localization strings and comment (on the PR if possible, otherwise here) if something seems weird. Better safe than sorry ;-)

[2018-05-12 19:09] dinero1010 commented on #78
Yes, hideBackground was the option i was looking for.  Thank you for the help.

[2018-05-12 19:17] Ethenyl commented on #78
Issue has been resolved, I'm closing it.

[2018-05-12 19:17] #78 closed

[2018-05-13 12:29] dinero1010 commented on #70
Hello - perhaps on a somewhat unrelated note - what is the easiest way to set Continue as the default button regardless of the package installation status?

[2018-05-15 14:17] dinero1010 opened #89 "Continue Button"
Our workflow instructs users to click the Continue button when all items are completed.  We also set all items to 'canContinue' so the expected behavior is that the Continue button is shown instead of the Quit button, regardless of install status for each item.  What would be the most efficient way to set the Continue button label as 'Continue' and keep that static regardless of install status?

[2018-05-15 20:25] RHI0 commented on #7
Downloads are shown in the JAMF log when JAMF is put into debug mode via:
defaults write /Library/Preferences/com.jamfsoftware.jamf.plist global_log_level DEBUG

I run this command as the first thing in my DEP sequence and the last command in my DEP sequence then is:
defaults delete /Library/Preferences/com.jamfsoftware.jamf.plist global_log_level DEBUG

This way you'd also be able to parse the lo

[2018-05-17 12:23] #85 closed, assigned to damien-rivet

[2018-05-21 14:19] cybertunnel commented on #56
To use this feature, you will need to set the `webRefreshRate` to a `Number` type with a value greater or equal to `1`. This setting is in seconds of delay between refreshes.

[2018-05-21 14:19] #56 closed

[2018-05-21 14:21] cybertunnel commented on #45
@ftiff did you add it to the documentation?

[2018-06-15 22:53] sainmaah opened #92 "Using Package Name without - or package version"
Would it be possible to use package names without - and/package versions? And do they have to be uploaded to Jamf or can we use local servers and a URL in the jamf policy?

[2018-06-20 14:18] danshaw opened #93 "We are preparing your Mac..."
Would anyone have an idea why I might be stuck at the "We are preparing your Mac..." stage of SplashBuddy? I have removed all but one app, re-imaged multiple time, deleted the computer from JAMF, and I can't see to get passed this stage. The applications to get installed in the background from JAMF because of the "on enrollment" trigger, but SplashBuddy is not seeing it for some reason.

I'm testi

[2018-06-20 14:49] cybertunnel commented on #93
make sure the name of the `.pkg` file maches the `packageName` in the preferences file. You can find the exact package name by doing `cat /var/log/jamf.log | grep .pkg` and look for the package that matches your application you are tracking for installation.
Ex: For a OneDrive package named `OneDrive-1.203.455`
Your plist might look like something like this -
[code]

[2018-06-20 14:55] MatGriffin commented on #93
One way I test is make the item available in self service, install from self service. The once I'e built my SB and set the prefs install it on the same Mac and if all correct it will go green as SB will pick it up from the JAMF log.

[2018-06-20 19:53] cleavenworth opened #94 "Feature Request: Command to dynamically update the list of Software"
Hi,

I'd like to suggest some kind of command (or other method) that can be passed to SplashBuddy to trigger it to load a new list of software from a new plist without needing to relaunch SplashBuddy.

Use case: I want to build a modular DEP enrollment that customizes the software installed based on the user's department or other attributes pulled from Jamf/LDAP. I can achieve this currently using

[2018-06-21 21:55] danshaw commented on #93
Thanks for the help guys! @cybertunnel was right, I just didn't have the naming correct. Working like a charm now!

[2018-06-21 21:55] #93 closed

[2018-06-28 14:34] danshaw opened #95 "Hold off until user is logged into computer"
If I hang out on the setup screen for a couple of minutes (lets say the user walks away briefly), behind the scenes the computer is enrolling (DEP enabled). This causes splashbuddy and the "please wait" policy to fire off and start installing programs due to the trigger being "on enrollment".

Is there any way to prevent this from happening until the user logs into the computer? I guess its not th

[2018-07-03 14:06] taniguti opened #96 "Japanese Localization"
Hi,

How about adding Japanese localization into the base package?
I've put Localizable.strings into japanese on my forked repository.

Thanks.

[2018-07-04 19:58] Ethenyl commented on #96
Hi Takanori,

I'll add the Japanese localization into the app based on your fork.

I guess the UI is not made for RTL but since it's pretty straightforward, and without long texts, it should behave nicely.

[2018-07-05 07:12] Ethenyl commented on #96
Implemented by #97.

[2018-07-24 22:35] haykoian opened #99 "Installation Status LEDs"
Hi there,
I’m not getting amber to green status lights in my installation workflow icons when  SplashBuddy is running.

[2018-08-06 17:35] cybertunnel commented on #99
Ensure your package name matches your preference file.

[2018-08-06 17:44] cybertunnel commented on #95
That is all based on your Jamf Pro workflow. You could add a script to the beginning of your workflow and then kick off the policies once a user is detected to be logged in.

[2018-08-06 17:44] #95 closed

[2018-08-06 17:48] cybertunnel commented on #92
So right now SplashBuddy does not have the feature to read packages without a `-` and version in the package name. This is due to it uses RegEx to pull the package name.
I will add this as an enhancement so we can properly track this. As for where the packages come from, they have to just write the package name to the `/var/log/jamf.log` file as if it was from the Jamf Pro server. However if you a

[2018-08-06 17:51] cybertunnel commented on #86
That is a great idea, I marked it as a feature, since it will also require some documentation updating to communicate how to achieve that function in an elegant manner.

[2018-08-06 17:52] cybertunnel commented on #75
That is quite possible, we could just read from the plist and write that value to the NSTextField instead of a static text we currently have.

[2018-08-06 18:05] #43 closed

[2018-08-06 18:08] cybertunnel commented on #53
Would you still need/want to have to set that `Hidden` key?

[2018-08-06 18:09] #54 closed

[2018-08-06 18:14] #99 closed

[2018-08-10 09:45] Bearzooka opened #100 "Automatic ContinueActions"
It would be useful, as part of the workflow that I'm trying to create, if the continue action could be executed automatically upon finishing the installation.

This could lead to unattended configurations if all the software is installed successfully.

[2018-08-31 14:28] ssnak3 commented on #80
Hi Team,

We paused our SplashBuddy for some time now, so I was inactive on testing out.

It seems that still the issue is present, tried with 1.1 and 1.2 installer.
Didn't add any customization, just downloaded from github and run the .pkg file.

macOS version is 10.13.6 and it is freshly installed from Apple internet recovery so no custom image used.
Attached are the two pkg's I have tried ....

[2018-09-23 16:48] ssnak3 commented on #80
Update!
@HowardGMac

I noticed that the error keeps poping out because there is no permission to write to the folder: /Users/username/Library/Containers/io.fti.SplashBuddy/.

After setting permissions on that folder manually it worked.
Can you please let me know why does it write files there and why sometimes the installer does not have permissions?

Attached is the folder with files created.
[io.

[2018-09-24 12:47] cybertunnel commented on #80
@ssnak3 It specifically writes to `/Users/username/Library/Containers/io.fti.SplashBuddy/Data/Library/` to write the user input data, along with plop the `.SplashBuddyDone` file when it completes.

The installer _should_ have permission, however we have seen an increase in these types of issues within my company's environment. Not 100% sure what is the root cause of it.

[2018-09-24 12:52] ssnak3 commented on #80
@cybertunnel

Well, for now we fixed the issue adding following code to enrollment script before SB installs:

It will delete the folder if it is already created (old SB installers) and create it again with user's permission, after then it will install SplashBuddy.pkg.

[2018-09-27 17:36] cybertunnel commented on #80
That is strange. This is also occurring to multiple of our Macs that are being deployed. Even without SB launching. It isn't specific to SB, rather Setup Assistant might have a bug.

[2018-09-28 14:40] #96 closed

[2018-10-29 16:07] dwshore commented on #89
Couldn't this be done within the source code? Just replace the text of the button with whatever you'd like and recompile? (NOTE: I don't know if that would break something in the code that's listening for 'quit' specifically. n00b->me)

[2018-11-05 19:41] redninja2 commented on #2
I need this in my workflow where we provision our Macs before giving them to the end user and creating the local account is part of the provisioning process. I'd prefer not to require my techs to login with their AD credentials

[2018-11-14 14:22] vosmike opened #108 "Continuous crashes at launch"
MacBook Air T2 (2018)
OS Version 10.14.1
SplashBuddy version 1.3.1 and 1.3.0.

SplashBuddy crashes on startup.
**Error in system.log**
Nov 14 14:28:24 MacBook-Air-van-Test SplashBuddy[2798]: DEPRECATED USE in libdispatch client: dispatch source activated with no event handler set; set a breakpoint on _dispatch_bug_deprecated to debug
Nov 14 14:28:25 MacBook-Air-van-Test com.apple.xpc.launchd[1] (i

[2018-11-14 14:36] vosmike commented on #108
Just did a third test, making sure the Dark Mode wasn’t causing it.. it doesn’t

[2018-11-14 15:00] Ethenyl commented on #108
Hi @vosmike, are you starting the App with a specific configuration?

[2018-11-14 15:02] vosmike commented on #108
What configuration are you referring to?
Hardware is as mentioned above. Other than that it's the usual install.
Package drops, SB gets installed and launches

[2018-11-14 15:19] Ethenyl commented on #108
@vosmike would you be available to perform some live testing on a specific branch? I might have a clue on the issue, seems to be related to the user input feature.

[2018-11-14 15:20] vosmike commented on #108
Definitely!

[2018-12-03 20:36] cybertunnel commented on #108
I also added a branch `bugfix/Crash_Fix` Let me know if this fixes the issue you are having.

[2018-12-11 14:23] Ethenyl commented on #108
Fixed in #109.

[2018-12-11 14:23] #108 closed

[2019-01-03 10:31] joostvanderzwaan commented on #59
Hi All
I am struggling with the Sleep/ScreenSaver. During my deployments it activates the screensaver. And Locks my screen. I want to fix this with the Caffeinate (or any other way). But can somebody help me to add Caffeinate to the SplashBuddy.lunch.sh script? I tryed it. But it did not work for me. Would be great to suspend the screensaver with this Caffeinate tool. Thanks for your help.
[code]

[2019-01-03 14:43] ftiff commented on #59
(
We should probably implement it in code
https://developer.apple.com/library/archive/qa/qa1340/_index.html
)

[2019-01-07 09:11] joostvanderzwaan commented on #59
Would be great to add this code in new version 👍

[2019-01-14 06:48] entusdictus opened #111 "Issue with icons"
There is a small light grey top/down bar on the left side of icons that nearly fit the 128x128px size.

Example for the Symantec icon below:
![not selected](https://user-images.githubusercontent.com/14052665/51099253-f524a780-17cf-11e9-96a7-cd9a330d2def.png)

When selecting the affected step in SB, the light grey bar disappears:
![selected](https://user-images.githubusercontent.com/14052665/510992

[2019-01-16 11:42] ryanslater-uk commented on #75
I'd really like to see this too. Any progress on this @cybertunnel ? :-)

[2019-01-17 14:51] cybertunnel commented on #75
@ryanslater-uk in full transparency I have not had a chance to work on this as much as I would like since we are looking at moving to utilize the new Jamf Connect. It shouldn't be that big of a change so once I do get some time it shouldn't take long. I will update this thread with the branch that offers this feature.

[2019-01-18 14:56] davidyoondrums opened #112 "SB beach balls when click Continue"
I am using

<dict>
	<key>continueAction</key>
	<string>/Applications/Self Service.app</string>
	<key>applicationsArray</key>
	<array>

to launch Jamf Self Service upon clicking continue button. But occasionally SB beach balls, and the only thing I can do is to force restart the computer. It doesn't happen all the time. I can see Self Service launching in the translucent SB background so I know Sel

[2019-01-30 16:32] ryanslater-uk opened #114 "Scalable SplashBuddy Window"
I'd really like to see a scalable window, instead of it being fixed size for all. If when you open the application it could process resolution arguments (as an example) that would give us the ability to resize the Web View space and provide more real estate.

Auto Layout in Xcode may be able to help adjust the app contents, but I'm no developer so wouldn't know where to begin.

E.g. open /Library/

[2019-02-01 13:58] ryanslater-uk commented on #75
That's fine, thank you @cybertunnel !

[2019-02-01 22:11] cybertunnel commented on #75
Sorry that it has taken so long to get added, too far shorter amount of time than I thought it was going to take.

[2019-02-01 22:22] cybertunnel commented on #111
Seems like it was a overlay from the textfields. Added bigger trailing constraints on the textfields and seems to have gone away. Could you compile and confirm please.

[2019-02-01 22:58] davidyoondrums commented on #112
I haven't extensively tested it but it seems to have resolved the issue.

[2019-02-01 23:00] cybertunnel commented on #59
Got some working on while testing
requires both `import IOKit` and `import IOKit.pwr_mgt`
You call the function like this: `self.disableScreenSleep(reason: "Installing required applications."`
Will work on implementing this into SplashBuddy.
[code]

[2019-02-06 01:05] dv8nrg opened #115 "Missing icons during SplashBuddy deployment"
I am completely missing the icons normally displayed once SplashBuddy launches.

I created and saved all icons within /Users/Shared/Installer-1.3.2/payload/Library/Application Support/SplashBuddy and ran the build_pkg .sh script to build Splashbuddy.pkg.

All assets should be in place, just not displaying the icons during the SplashBuddy run.

If it matters any, all my applications are getting ins

[2019-02-06 10:56] entusdictus commented on #111
Sorry @cybertunnel , but I have absolutely no knowledge in how to use Xcode or how to compile a product with changes...

[2019-02-06 23:30] TheBlu commented on #89
@cybertunnel: I have been trying to find a way to change the quit button as well. Do you have any documentation on this? Any help would be appreciated!

[2019-02-07 14:22] cybertunnel commented on #89
@TheBlu I don't think we have anything in place in the current released versions. The way that you can change what the button does, and in turn change the button text can be found [here](https://github.com/Shufflepuck/SplashBuddy/wiki/60---Options)

[2019-02-20 14:31] cybertunnel commented on #112
Thanks for the response, have you been able to test further? I have not been able to replicate the issue on my end, so wanted to ensure this fixes the described issue before pulling into the development branch.

[2019-02-20 21:36] davidyoondrums commented on #112
I tested it and other have tested it also. I think are good to go!

[2019-02-21 10:08] Ethenyl commented on #112
Thanks @davidyoondrums for the feedback. I'll merge the PR to integrate your fix unto the next release.

[2019-03-08 08:04] Ethenyl commented on #112
Fixed by #113.

[2019-03-08 08:04] #112 closed

[2019-05-22 07:40] cubandave commented on #70
Thank you @ssnak3!

[2019-07-02 17:20] macdadmin opened #120 "Progress Dots Not Changing Colors"
I am using this internally and it works great.  The little dots next to the action go from gray to amber to green and then moves on.  I have also set this up for a client and is working equally great, however the dots are not changing colors.  Anyone seen this before?  Anything I can do to fix it?  Thanks in advance.

[2019-07-03 17:49] cybertunnel commented on #120
Are you making sure the packages are using this Scheme: `Package Name-1.2.3.pkg`? Where `Package Name` SplashBuddy's preferences would be looking for the whole "Package Name"?
If not using a package, are you using either ghost package (empty package) or a script to write that the "package" was installed?

[2019-07-03 18:11] macdadmin commented on #120
As far as I can tell… I’ve followed the steps accordingly.  I took our functional setup that we have running internally (dots light up), and duped the folder and redid the config for the plist, icons and the HTML file.  Everything works great.  Just can’t get the lights to light up.

Let me know if you have any suggestions.  I’m going to go through the config again today.  I have rebuilt it twice.

[2019-07-30 14:36] n0brainer opened #121 "Catalina support"
Any plans to bring Catalina support? 1.3.3 seems like it should work as long as the dialog popups are constantly cleared.  Unfortunately they pop under SB and it's not easy to get at them.

[2019-08-05 07:56] Ethenyl commented on #121
Hi @n0brainer,

Thanks for creating a ticket. I'll be looking into the issue you're facing asap.

Regarding the upgrade to Catalina (10.15) SB should support it without any changes. From the issue description, I'll need more information in order to determine what exactly is the issue.

Which popup are your referring to? The missing `jamf.log` one?

And which version of the Catalina BETA are you us

[2019-08-06 16:56] n0brainer commented on #121
Yeah, going through again on the latest beta, it appears to be TCC with terminal and wanting to access the network volumes and stuff.
<img width="532" alt="Screen Shot 2019-08-06 at 7 42 50 AM" src="https://user-images.githubusercontent.com/2116991/62559759-2aaee200-b841-11e9-90bd-a24f48dbd32d.png">
<img width="488" alt="Screen Shot 2019-08-06 at 7 43 08 AM" src="https://user-images.githubusercont

[2019-08-06 17:03] canalnoises commented on #121
@n0brainer Are you able to use PPPC configuration profiles to suppress these dialogs?

[2019-08-06 17:51] n0brainer commented on #121
that's my next step, we can close this out for now.

[2019-08-06 17:51] #121 closed

[2019-08-21 17:48] exxille commented on #59
Changing  /usr/bin/open -a "$app"

to /usr/bin/caffeinate -dimsu "/Library/Application Support/SplashBuddy/SplashBuddy.app/Contents/MacOS/SplashBuddy"

worked for me

[2019-09-12 08:02] blackberryhell opened #123 "Splashbuddy Not Appearing Unless User logs In"
I am having an issue where my imaging policy kicks in at enrolment and installs splashbuddy but splashbuddy doesn't launch unless I login, is this expected behaviour?

[2019-09-16 15:01] cybertunnel commented on #123
This is expected since it runs in user space, however there is a branch that does have where it runs in root space. Keep in mind, it running in root space is not a good idea since it could be a avenue for attack.

[2019-09-16 15:03] cybertunnel commented on #120
Hey Adam, sorry for the delay been busy here at work. Were you able to find the root cause? Is the issue still occurring?

[2019-09-16 15:04] #111 closed

[2019-09-16 15:39] blackberryhell commented on #123
Hi Tyler

Thanks for getting back to me it’s appreciated.

Regards

Alex

Sent from my iPhone

[2019-10-10 14:26] rypowell1988 commented on #123
Hi @cybertunnel - can you point me in the direction of the branch where it does work at the login screen?  I'm having trouble tracking this down.

Thanks
Ryan

[2019-11-04 16:19] #120 closed

[2019-11-19 13:21] canalnoises commented on #73
I think my pull request (above) addresses this issue. I added a `$homeDir` variable that is populated by the home directory as pulled from dscl...

`homeDir=$(/usr/bin/dscl . read /Users/${loggedInUser} NFSHomeDirectory | /usr/bin/awk '{print $2}')`

...and changed the path in `$doneFile` to use `${homeDir}` instead of `/Users/${loggedInUser}`.

[2020-04-27 09:25] Wooster101 opened #125 "Different behaviour when locking screen"
Just a small observation

The file .SplashBuddyDone is present in the user home folder

1. Lockin the screen with Fast User Switching-Menu and choosing "Loginwindow" starts SplashBuddy

2. Using Apple-Menu and choosing "Lock screen" does not start SplashBuddy (expected behaviour)

Not a big issue as most people use the method 2 these days.

[2020-07-27 19:08] mwabaoscar opened #126 "SplashBuddy freezing during user initiated enrollment"
Anyone else running into Splashbuddy freezing during user initiated enrollment? Experiencing an inconsistent issue where users are reporting being stuck on the Splashbuddy GUI for more than 60+ minutes. When users attempts to kill splashbuddy with CMD+Ctlr+Q, splashbuddy relaunches within  2-5 seconds. Any ideas what can be causing this issue? Or how to continue splashbuddy even if an install fail

[2020-07-30 12:54] cybertunnel commented on #126
Are all of your applications installed that you required to be installed? It's possible something is not being installed on some systems which is preventing the window from showing the continue button becoming active.

Additionally as per [SplashBuddy Wiki](https://github.com/Shufflepuck/SplashBuddy/wiki/60---Options) if you don't want SplashBuddy to relaunch, then you need to do `CMD` + `Option`

[2020-07-30 12:55] cybertunnel commented on #123
@rypowell1988 sorry for the extreme delay, I didn't see this until just now. Did you find the login window branch of this?

[2020-07-30 12:56] cybertunnel commented on #123
If you still need it, and/or someone else finds this issue; https://github.com/smithjw/SplashBuddy I believe is the one that works on the Login Window.

[2020-07-30 12:56] #123 closed

[2020-07-30 17:07] datboioscarr commented on #126
Office 365 is one of the applicates that is installed during this process. I made adjustments in how we package and deliver Office 365 that seems to have helped and is running smoother. However, still seeing a few devices freezing up.

So when I run the CMD + Option + Alt + Q it does not seem to be writing the .SplashBuddyDone file to prevent it from launching again. Rather, it's re-launching ever

[2020-08-03 14:26] cybertunnel commented on #126
Make sure you are doing the proper kill key combo, because if you don't it won't write the file. Also is this running in loginwindow, or user space?

[2020-08-03 14:27] #45 closed

[2020-11-26 13:14] walkingmac opened #129 "Installed applications not indicating"
With the latest Release we see that applications appear in the "applicationsArray" that prior turned green when they got installed do not longer show any color indication.

Has there been any recent change?

[2020-11-26 14:36] ftiff opened #130 "Can quit SplashBuddy if `hideBackground=true` even if some critical apps are not installed."
User can quit SplashBuddy if `hideBackground=true` even if some critical apps are not installed.

[2020-11-26 14:36] ftiff opened #131 "regression: hideSidebar=true doesn't show button"
`hideSidebar=true` won't show the "Continue" button, preventing user to quit app. User will have to go to SplashBuddy menu and choose quit SplashBuddy (only available if `hideBackground=true`).

[2020-11-26 14:39] ftiff commented on #130
I'm not sure this should be fixed.
If we agree not to fix it, I believe we should also enable the "close" button on the main window if `hideBackground=true`

[2020-11-26 14:41] ftiff commented on #114
@ryanslater-uk 2.0.0 window will be 1024x768 but you won't be able to specify the size yet.

[2020-11-26 14:42] ftiff commented on #92
This will be addressed in 2.0.0. Thanks for your feedback

[2020-11-26 14:46] ftiff commented on #55
that should have been closed ages ago. It was implemented in 1.2

* With `labMode` set to `true`, SplashBuddy will automatically display `complete.html` from `presentation.bundle` when all software is done installing (successfully or not) -- thank you @howardgmac

[2020-11-26 14:46] #55 closed

[2020-11-26 14:48] ftiff commented on #50
@DrTeej Not exactly what you asked for, but 2.0.0 will add "Insiders", which will add monitoring install.log and munki log instead of only Jamf.

[2022-02-02 16:39] tkimpton opened #133 "Video Plays but volume is mute"
Hi, my colleague has included a video with the following in the index.html of the presentation bundle

	<div class="section" id="section1">
		<video width="640" height="360" controls autoplay muted loop>
			<source src="assets/movie.mp4" type="video/mp4">
			<track src="assets/subs-en.vtt" label="English" kind="subtitles" srclang="en-us" default>
			Your browser does not support the video tag.
		<

[2022-02-02 17:33] WizardMickey718 commented on #133
Perhaps drop the "muted" keyword entirely?

On Feb 2, 2022 11:39 AM, Tim Kimpton ***@***.***> wrote:

Hi, my colleague has included a video with the following in the index.html of the presentation bundle

<div class="section" id="section1">
        <video width="640" height="360" controls autoplay muted loop>
                <source src="assets/movie.mp4" type="video/mp4">
                <track s

[2022-02-02 18:08] tkimpton commented on #133
Yeah already tried that, if dropping muted then it doesn’t auto play

[2022-02-07 10:02] tkimpton commented on #133
i tried again and removing the muted work

[2022-02-07 10:02] #133 closed

[2022-02-07 10:11] tkimpton opened #134 "Issue with Installing Microsoft Office"
Hi all im having a little issue with installing office in SplashBuddy. I am using the Office 365 Business Pro from https://macadmins.software/

The issue i can see is with the io.fti.SplashBuddy.plist preference file. For office i have to specify the EXACT package name otherwise SplashBuddy doesnt see this in the jamf log file and doesnt move on.

<dict>
			<key>canContinue</key>
			<false/>
			<k

[2022-02-24 22:55] wreck-gar commented on #134
I'm not sure why you have an array for packageName, I have just the one string.

Microsoft_Office should be all you need. It's been years since I set this up, but if that doesn't work you could try renaming the package to Microsoft_Office-16.55.21111400_BusinessPro_Installer.pkg or Microsoft_Office-16.55.21111400.pkg

I actually have mine setup to install an empty package, this has a script that j

[2022-03-10 00:53] wreck-gar opened #136 "LaunchAgent issues with Monterey"
Im not having any luck getting SplashBuddy to automatically launch after install as intended.

I've updated the postinstall and SplashBuddy.Launch.sh for python changes, but the bootstrap command in the postinstall script gives an input/out error. The SplashBuddy.Launch.sh script doesn't work either, I think it is related to the finderRunning function.

As a work around I have just made the postin

[2022-03-18 17:26] dkw7703 commented on #136
We are experiencing the same issue, along with an additional one.  Thanks to your script tweak, @wreck-gar , Splashbuddy will now launch.  However, none of the items are updated as they are completed nor does the Restart button become useable.

[2022-03-28 15:10] Bot-Igor commented on #136
We added
loggedInUser=$(/bin/echo "show State:/Users/ConsoleUser" | /usr/sbin/scutil | /usr/bin/awk '/Name :/&&!/loginwindow/{print $3}')
/usr/bin/codesign --verify "/Library/Application Support/SplashBuddy/SplashBuddy.app"
su $loggedInUser -c 'open -a /Library/Application Support/SplashBuddy/SplashBuddy.app'

to the postinstall script, which seems to work, also I found to comment out the finderRu

[2022-03-28 17:04] Bot-Igor commented on #136
Hey there,
For us it helped to remove the call of the finderRunning function and the function itself in the SplashBuddy.launch.sh file.

[2022-04-29 21:09] macgod73 commented on #136
I noticed the issue with Monterey 12.3.1

I modified the postinstall script to
`#!/bin/bash

loggedInUser=$( scutil <<< "show State:/Users/ConsoleUser" | awk '/Name :/ && ! /loginwindow/ { print $3 }' )
loggedInUID=`id -u ${loggedInUser}`

if [[ ${loggedInUID} -gt 500 ]]; then
	echo "Launching SplashBuddy for user ${loggedInUID}…"
	sudo -u \#${loggedInUID} launchctl enable gui/${loggedInUID}/io.ft

[2022-09-01 04:23] olly6559 opened #137 "App keeps reopening after closing"
Splashbuddy keeps reopening after sucessfully installing all apps I set up.

Have tried pressing Ctrl + Option + Cmd + Q to have a look for .Splashbuddydone but not able to find folder ref: https://github.com/macadmins/SplashBuddy/wiki/50---LaunchAgent-and-Manual-Post-Install-Removal

[2022-11-17 03:33] olly6559 opened #138 "Not launching on Ventura"